<!DOCTYPE html>
<html>

<head>
	<title>Risorsa non trovata</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/musicianFoto.css" />
	<div th:replace="~{/fragments/fonts :: fonts}"></div>
	<div th:replace="~{/fragments/viewport :: viewport}"></div>
	<div th:replace="~{/fragments/bootstrap :: bootstrap}"></div>
</head>

<body>
	<div class="background">
		<header>
			<div th:replace="~{/fragments/header :: header}"></div>
		</header>
	</div>

	<div th:replace="~{/fragments/logo :: logo}"></div>
	<h1>Errore sul gruppo</h1>
</body>
</html>